.grid-Items{
    display:  grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 10px;
}

.tamaño-Imagen-Catalogo{
    height: 28rem;
}

body{
    background-color: #dfe9fd;
}

.tamañoImagenDetail{
    height: 50rem;
    width: auto;
    grid-area: imagen;
}

.gridDetailItems{
    display:  grid;
    margin: 10px;
    grid-template-areas: 
    "imagen titulo"
    "imagen descripcion"
    "imagen stock"
    "imagen precio"
    "imagen carrito";
    justify-items: start;
    align-items: center;
}

.tituloItemDetail{
    grid-area: titulo;
}

.descripcionItemDetail{
    grid-area: descripcion;
}

.stockItemDetail{
    grid-area: stock;
}

.precioItemDetail{
    grid-area: precio;
}

.añadirCarritoItemDetail{
    grid-area: carrito;
}

.divPaddingLeft{
    padding-left: 4vh;
}